// Colors
$blue: #384756;
$dark-gray: #333f4e;
$light-gray: #f0f1f0;
$gray: #b4b9bd;
$white: #FFF;
$black: #000;

// Constants
$header-height: 4rem;
$sidebar-width: 5rem; 

//Fonts
$main-font: 'Roboto', sans-serif;